<p>emp-id-display works!</p>
<div>
    <label for="employeeId">Select Employee ID:</label>
    <select id="employeeId" [(ngModel)]="selectedId" (change)="onSelect()">
      <option *ngFor="let emp of Employee" [value]="emp.id">
        {{ emp.id }}
      </option>
    </select>
  </div>
  <div *ngIf="selectedId">
  <h3>Employee Details</h3>
  <p>ID: {{ updateemployeeDetails.id }}</p>
  <p>Name: {{ updateemployeeDetails.name }}</p>
  <p>Position: {{ updateemployeeDetails.email }}</p>
  <p>Position: {{ updateemployeeDetails.phone }}</p>
</div>