<form [formGroup]="customValidatorForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="txtname">User Name:</label>
    <input type="text" formControlName="txtname">
    <div *ngIf="(customValidatorForm.get('txtname')?.dirty || customValidatorForm.get('txtname')?.touched)">
      <div *ngFor="let error of error_message.txtname">
        <div *ngIf="customValidatorForm.get('txtname')?.hasError(error.type)">
          <sup>*</sup>{{ error.message }}
        </div>
      </div>
    </div>
  </div>
  <div>
    <label for="txtpass">Password:</label>
    <input type="password" formControlName="txtpass">
    <div *ngIf="(customValidatorForm.get('txtpass')?.dirty || customValidatorForm.get('txtpass')?.touched)">
      <div *ngFor="let error of error_message.txtpass">
        <div *ngIf="customValidatorForm.get('txtpass')?.hasError(error.type)">
          <sup>*</sup>{{ error.message }}
        </div>
      </div>
    </div>
  </div>
  <div>
    <label for="txtnewpass">New Password:</label>
    <input type="password" formControlName="txtnewpass">
    <div *ngIf="(customValidatorForm.get('txtnewpass')?.dirty || customValidatorForm.get('txtnewpass')?.touched)">
      <div *ngFor="let error of error_message.txtnewpass">
        <div *ngIf="customValidatorForm.get('txtnewpass')?.hasError(error.type)">
          <sup>*</sup>{{ error.message }}
        </div>
      </div>
    </div>
    <div *ngIf="customValidatorForm.errors?.['passwordMismatch'] && (customValidatorForm.dirty || customValidatorForm.touched)">
      <sup>*</sup>New password must be the same as old password.
    </div>
  </div>
  <div>
    <label for="mobile">Mobile Number:</label>
    <input type="text" formControlName="mobile">
    <div *ngIf="customValidatorForm.get('mobile')?.invalid && (customValidatorForm.get('mobile')?.dirty || customValidatorForm.get('mobile')?.touched)">
      <div *ngFor="let error of error_message.mobile">
        <div *ngIf="customValidatorForm.get('mobile')?.hasError(error.type)">
          <sup>*</sup>{{ error.message }}
        </div>
      </div>
    </div>
  </div>
  
  <div>
    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" formControlName="dateOfBirth" (change)="calculateAge()">
    <div *ngIf="(customValidatorForm.get('dateOfBirth')?.dirty || customValidatorForm.get('dateOfBirth')?.touched)">
      <div *ngFor="let error of error_message.dateOfBirth">
        <div *ngIf="customValidatorForm.get('dateOfBirth')?.hasError(error.type)">
          <sup>*</sup>{{ error.message }}
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="age !== null">
    <p>Age: {{ age }} Years Old</p>
    <div *ngIf="ageError">
      <sup>*</sup>{{ ageError }}
    </div>
  </div>
  <button type="submit">Submit</button>
</form>
