<form [formGroup]="customValidatorForm" (ngSubmit)="onSubmit()">
    <label for="txtname">Number:</label>
    <input type="text" formControlName="txtno" >
    <div *ngIf="customValidatorForm.get('txtno')?.invalid && (customValidatorForm.get('txtno')?.dirty || customValidatorForm.get('txtno')?.touched)">
        <div *ngFor="let error of error_message.number_val">
          <div *ngIf="customValidatorForm.get('txtno')?.hasError(error.type)">
            <sup>*</sup>{{ error.message }}
          </div>
        </div>
      </div>
    <button type="submit">Submit</button>
  </form>

  <P *ngIf="customValidatorForm.get('txtno')?.dirty">{{txtno1 | phonePattern}}</P>
  